@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  body {
    @apply bg-white dark:bg-[#0D1117] text-gray-900 dark:text-gray-100;
    font-feature-settings: "rlig" 1, "calt" 1;
  }


  html {
    scroll-behavior: smooth;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f3f4f6;
  }

  .dark ::-webkit-scrollbar-track {
    background: #0D1117;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/50 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

